
    <!doctype html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script>
          var barwidth = "50";
          var fontsize = 5;
        </script>
        <title>GL (혈당부하지수) 란 특정 식품을 얼마나 많이 먹는지 반영한 값으로, 얼마나 빠른 속도로 소화되어  혈당 농도를 증가시키는지 객관적으로 표시한 지수
        </title>
        <meta charset="utf-8">
      </head>
  <body>
    <style>      
      #login_wrapper { 
          border: 3px solid rgb(30, 7, 241);
          width: 100%;
          height: auto;
          
          display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } 
      h1{
        font-size: 25px;
        padding-bottom: 20px;
      }
      form{
          left: 20%;
          width: 80%;
          height: auto;
          padding-bottom: 10px;
      }
      .form > div{
        display: flex;
        justify-content: center;
        padding-bottom: 7px;
        align-items: center;
        border: 3px;
        border-color: rgb(30, 7, 241);
        text-align: center;
      }
      .form > div > text{
            text-align: left;
            width: 500px;
          }
      label{
        text-align: center;
      }
      button{
        width: 100px;
        margin:auto;
        display:block;
      }
      input {
        padding: 5px;
        width: 300px;
      }
      


      .image 
      {
        position:relative;
        text-align:center;
        color:#FFFFFF; 
      }
      .image div 
      {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; 
      }












    </style>
    <div id="login_wrapper">
        <form action="http://localhost:3000/result" method="GET" >
          <table>
            <tr>
              <td style="width: 150px;"><img src="images/result.png"></td>  
              <td></td>
              <td></td>
              <td style="width: 350px;">
                <font size="2">GL (혈당부하지수) 란 특정 식품을 얼마나 많이 먹는지<br> 반영한 값으로, 얼마나 빠른 속도로 소화되어<br>혈당 농도를 증가시키는지 객관적으로 표시한 지수</font>
              </td>
            </tr>        
          </table>
        <br>
        <div style="text-align: center;">
          <font size="5" >나의 추정 혈당 수취</font>
        </div>
        <br>

        





        <div class="image">
          <img width="190" src="images/result_top.png">
          <div><font size="50" ><%= result %></font></div>
        </div>
        
        <img width="100%" src="images/result_boot.png">
      </div>  
    </form>
  </body>
  </html>
  