
.wrap{
    margin: 0;
	padding: 0;
}

.page1_container{
    width: 900px;
	height: 700px;
	
	margin: auto;
    border-style :solid;
    border-color: rgb(119, 179, 235) ;
}
.container_header{
    width: 900px;
    height: 150px;
    display: flex;
    margin: 50px auto 20px auto;
}
.bb{
    width: 150px;
    height: 120;
    margin: 0;
}
.page1_green_img{
    width: 100px;
    height: 100px;
    margin : 10px 0 0 90px;
}
.hellomessage{
    display : flex;
    width: 600px;
    height: 60px;
    margin : 43px auto;
}
.first{
    width: 180px;
    height: 40px;
}
.second{
    width: 200px;
    height: 40px;
    margin-top: -5px;
    color : rgb(240, 40, 40);

}
.third{
    width: 480px;
    height: 40px;
}
.insert_container{
    width :400px;
    height : 300px;
    
    margin : 20px 180px 20px auto;
}
.code{
    font-size :large;
    font-weight :bolder;
}
.code > label{
    color : orange;
    width: 120px;
    height: 35px;
    text-align: center;
}
.codecode{
    display: flex;
    margin : 30px auto;
 
}
.inputbox > input{
    width: 130px;
    height: 35px;
    
}
.insert_container_button > button{
    background-color: rgb(59, 77, 138);
    width: 90px;
    height: 50px;
    text-align: center;
    color: white;  
    font-weight :600;  
    font-size :larger;

}
.insert_container_button > button:hover{
    background-color: #727b96;
    width: 90px;
    height: 50px;
    text-align: center;
    color: white;  
    font-weight :600;  
    font-size :larger;

}
.insert_container_button{
    width: 400px;
    height: 50px;
    margin: 0 0 0 88px;
}