<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>풀무원</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
    <div class="wrap">
        <div class="page1_container">
            <div class="container_header">
                
                <div class="bb"><img src="images/page1_green.png" class="page1_green_img"></div>
                <div class="hellomessage"> 
                    <div class="first"><h3>섭취한 식품의</h3></div>
                    <div class="second"><h2>"1회분량에"</h2></div>
                    <div class="third"><h3>해당하는 영양소 함량을 입력하세요 :)</h3></div>
                </div>
            </div>


    <div class="insert_container">
        <form action="/form_receiver" method="post">
            <div class="codecode">
                <div class="code">
                    <label>섭취 식품명</label> 
                </div>
                <div class="a">
                    <input type="text" id="food" name="food"></input> 
                </div>
            </div>

            <div class="codecode">
                <div class="code">
                    <label>탄수화물</label> 
                </div>
                <div class="">
                    <input type="" id="cb" name="cb"></input> g
                </div>
            </div>

            <div class="codecode">
                <div class="code">
                    <label>단백질</label>
                </div>
                <div class="">
                    <input type="" id="pr" name="pr"></input> g
                </div>
            </div>
            
            <div class="codecode">
                <div class="code">
                    <label>지방</label>
                </div>
                <div class="">
                    <input type="" id="fat" name="fat"></input> g
                </div>
            </div>

            <div class="codecode">
                <div class="code">
                    <label>식이섬유</label>
                </div>
                <div class="">
                    <input type="" id="df" name="df"></input> g
                </div>
            </div>

            <div class="codecode">
                <div class="code">
                    <label>섭취분량</label>
                </div>
                <div class="">
                    <input type="" id="it" name="it"></input> 회분
                </div>
            </div>
            
            <button type="submit ">계산</button>
            
        </form>
    </div>


        


        </div>
    </div>
    
  


</body>
</html>